<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="closeShelterModel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <img style="width:100%;" src="http://www.sclance.com/pngs/no-image-png/no_image_png_935227.png">

        <ion-item class="label">
          <ion-label class="label-title">Address</ion-label>
          <ion-label slot="end" color="primary" text-wrap>〒874-47 大分県別府市立田町14−55</ion-label>
        </ion-item>

        <ion-item class="label">
          <ion-label class="label-title">Capacity</ion-label>
          <ion-label slot="end" color="primary" text-wrap>50</ion-label>
        </ion-item>

        <ion-item class="label">
          <ion-label class="label-title">Capacity for disabled persons</ion-label>
          <ion-label slot="end" color="primary" text-wrap>2</ion-label>
        </ion-item>

        <ion-item class="label">
          <ion-label class="label-title">Accessibility Ramp</ion-label>
          <ion-label slot="end" color="primary" text-wrap>YES</ion-label>
        </ion-item>

        <ion-item class="label">
          <ion-label class="label-title">Handrail</ion-label>
          <ion-label slot="end" color="primary" text-wrap>YES</ion-label>
        </ion-item>

        <ion-item class="label">
          <ion-label class="label-title">Restroom for PWD</ion-label>
          <ion-label slot="end" color="primary" text-wrap>10</ion-label>
        </ion-item>

        <ion-item class="label">
          <ion-label class="label-title">Generator</ion-label>
          <ion-label slot="end" color="primary" text-wrap>NO</ion-label>
        </ion-item>

</ion-content>
