<ion-content color="primary" padding>
  <form #form="ngForm">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" expand="block" [routerLink]="['/tabs/map']">Login (Volunteer view)</ion-button>
            <ion-button size="large" expand="block" [routerLink]="['/pwd-view/tabs/pwd-view']">Login (PWD view)</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row justify-content-center>
        <div class="msg">
          If you don't have an account, please <a routerLink='/register'>
            register</a> first!
        </div>
        <div class="msg" padding>
        <a routerLink='/home'>Back to home page</a>
        </div>
      </ion-row>
  </form>
</ion-content>
