<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Notify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="contact" slot="start" color="primary"></ion-icon>
      <ion-label>Finn</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-card-content>
      This is notify, within an ion-card-content element
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="contact" slot="start" color="primary"></ion-icon>
      <ion-label>Finn</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="contact" slot="start" color="primary"></ion-icon>
      <ion-label>Finn</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
</ion-content>
