<ion-header>
  <ion-toolbar color="primary">
    <ion-select  slot="end" padding [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
      <ion-select-option value="en">{{ 'English' | translate }}</ion-select-option>
      <ion-select-option value="jp">{{ 'Japanese' | translate }}</ion-select-option>
    </ion-select>
    <ion-title>{{ 'NOTIFY.Notify' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="contact" slot="start" color="danger"></ion-icon>
      <ion-label>Mr. Smith Yagoshi</ion-label>
      <ion-label slot="end">2019-07-02 17:55</ion-label>
      <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
    </ion-item>
    <ion-card-content>
      <p>Request someone to help</p>
      <p>@ 9 Matsubarachō, Beppu-shi, Ōita-ken 874-0946, Japan</p>
      <p>Tel: 0669858448</p>
      <ion-button color="danger" expand="block" [routerLink]="['/tracking']">Accept to Help</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="contact" slot="start" color="success"></ion-icon>
      <ion-label>Finn</ion-label>
      <ion-label slot="end">2019-07-01 18:30</ion-label>
    </ion-item>
    <ion-card-content>
      Finn is safe.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="contact" slot="start" color="warning"></ion-icon>
      <ion-label>Finn</ion-label>
      <ion-label slot="end">2019-07-01 17:55</ion-label>
    </ion-item>
    <ion-card-content>
      Finn and a volunteer are on the way go to the Shelter I.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="contact" slot="start" color="danger"></ion-icon>
      <ion-label>Finn</ion-label>
      <ion-label slot="end">2019-07-01 08:55</ion-label>
    </ion-item>
    <ion-card-content>
      <p>Miss Yuki request someone to help</p>
      <p>@ Japan, 〒874-0937 Ōita-ken, Beppu-shi, Akibachō, 8−24 中村病院</p>
      <p>Tel: 0669858448</p>
    </ion-card-content>
  </ion-card>
</ion-content>
