<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>{{ 'MAP.Map' | translate }}</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="pwd">
      <ion-icon name="people"></ion-icon>
      <ion-label>PWD</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="shelter">
      <ion-icon name="business"></ion-icon>
      <ion-label>{{ 'SHELTER.Shelter' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notify">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>{{ 'NOTIFY.Notify' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="myaccount">
      <ion-icon name="contact"></ion-icon>
      <ion-label>{{ 'ACCOUNT.Account' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
