<ion-header>
  <ion-toolbar color="primary">
    <ion-select  slot="end" padding [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
      <ion-select-option value="en">{{ 'English' | translate }}</ion-select-option>
      <ion-select-option value="jp">{{ 'Japanese' | translate }}</ion-select-option>
    </ion-select>
    <ion-title>Person with Disability</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      Nearby
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://i.stack.imgur.com/l60Hf.png">
      </ion-avatar>
      <ion-label>
        <h2><a (click)="presentModal()">Finn</a></h2>
        <h3>Disability Type: Hearing</h3>
        <p>Address: 〒874-0942 Oita, Beppu, Chiyomachi, 15−9</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://i.stack.imgur.com/l60Hf.png">
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <h3>Disability Type: Hearing</h3>
        <p>Address: 〒874-0942 Oita, Beppu, Chiyomachi, 15−9</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://i.stack.imgur.com/l60Hf.png">
      </ion-avatar>
      <ion-label>
        <h2>Rey</h2>
        <h3>Disability Type: Hearing</h3>
        <p>Address: 〒874-0942 Oita, Beppu, Chiyomachi, 15−9</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Show All
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://i.stack.imgur.com/l60Hf.png">
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>
        <h3>Disability Type: Hearing</h3>
        <p>Address: 〒874-0942 Oita, Beppu, Chiyomachi, 15−9</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://i.stack.imgur.com/l60Hf.png">
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <h3>Disability Type: Hearing</h3>
        <p>Address: 〒874-0942 Oita, Beppu, Chiyomachi, 15−9</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://i.stack.imgur.com/l60Hf.png">
      </ion-avatar>
      <ion-label>
        <h2>Leia</h2>
        <h3>Disability Type: Hearing</h3>
        <p>Address: 〒874-0942 Oita, Beppu, Chiyomachi, 15−9</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://i.stack.imgur.com/l60Hf.png">
      </ion-avatar>
      <ion-label>
        <h2>Yoda</h2>
        <h3>Disability Type: Hearing</h3>
        <p>Address: 〒874-0942 Oita, Beppu, Chiyomachi, 15−9</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
