<ion-header>
  <ion-toolbar color="primary">
    <ion-select  slot="end" padding [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
      <ion-select-option value="en">{{ 'English' | translate }}</ion-select-option>
      <ion-select-option value="jp">{{ 'Japanese' | translate }}</ion-select-option>
    </ion-select>
    <ion-title>{{ 'SHELTER.Shelter' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      Nearby
    </ion-list-header>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="http://www.sclance.com/pngs/no-image-png/no_image_png_935227.png">
      </ion-thumbnail>
      <ion-label>
        <h2><a (click)="presentModal()">Shelter I</a></h2>
        <h3>Capacity: 10</h3>
        <p>Address: Beppu, Oita, Japan</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="http://www.sclance.com/pngs/no-image-png/no_image_png_935227.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Shelter II</h2>
        <h3>Capacity: 10</h3>
        <p>Address: Beppu, Oita, Japan</p>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header>
      Show All
    </ion-list-header>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="http://www.sclance.com/pngs/no-image-png/no_image_png_935227.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Shelter III</h2>
        <h3>Capacity: 10</h3>
        <p>Address: Beppu, Oita, Japan</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="http://www.sclance.com/pngs/no-image-png/no_image_png_935227.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Shelter IV</h2>
        <h3>Capacity: 10</h3>
        <p>Address: Beppu, Oita, Japan</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="http://www.sclance.com/pngs/no-image-png/no_image_png_935227.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Shelter V</h2>
        <h3>Capacity: 10</h3>
        <p>Address: Beppu, Oita, Japan</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="http://www.sclance.com/pngs/no-image-png/no_image_png_935227.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Shelter VI</h2>
        <h3>Capacity: 10</h3>
        <p>Address: Beppu, Oita, Japan</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
