<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="closeMapModel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>mapinfo-model</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
  leaflet
  style="height: 100%"
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
>
<div style="margin-left:25%; width:50%; bottom: 30px; position: absolute; z-index:1000;">
  <ion-button class="confirm-btn" expand="block" >CONFIRM </ion-button>
</div>
</div>
</ion-content>
