<ion-header>
  <ion-toolbar color="primary">
    <ion-select  slot="end" padding [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
      <ion-select-option value="en">{{ 'English' | translate }}</ion-select-option>
      <ion-select-option value="jp">{{ 'Japanese' | translate }}</ion-select-option>
    </ion-select>
    <ion-title>{{ 'MAP.Map' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <a id="modalPwdBtn" (click)="presentModalPwd()" style="display: none;"></a>
    <a id="modalShelterBtn" (click)="presentModalShelter()" style="display: none;"></a>
  <!-- <div
  leaflet
  style="height: 100%"
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
></div> -->
<div id="mapId" style="width: 100%; height: 100%">
  </div>
</ion-content>
