<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tracking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map3" style="width: 100%; height: 100%"></div>
  <!-- fab placed to the top start -->
  <!-- fab placed to the bottom start -->
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-button color="light" (click)="showVolunteerInfo();">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Info</ion-label>
      </ion-button>

      <ion-button color="light">
        <ion-icon name="call"></ion-icon>
        <ion-label>Call</ion-label>
      </ion-button>

    </ion-fab>

    <!-- <ion-fab horizontal="center" vertical="bottom" slot="fixed">
      <ion-button color="dark" (click)="showRoutingHeading2PWD();">
        <ion-label>{{btn_txt}}</ion-label>
      </ion-button>
    </ion-fab> -->


    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-button color="dark" (click)="cancelEvent();">
        <ion-label>CANCEL</ion-label>
      </ion-button>
    </ion-fab>

</ion-content>
