<ion-content>
  <ion-card class="home-card">
    <ion-card-header>
      <ion-card-title>BEPPU</ion-card-title>
      <ion-card-subtitle>Mockup BEPPU App</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="./assets/img/Disability-Animation.png" />
      PWD Emergency Support System Flood Preparedness in Beppu city<br>
      <ion-button fill="outline" expand="block" [routerLink]="['/login']">LOGIN</ion-button>
      <ion-button expand="block" [routerLink]="['/user-auth']">REGISTER</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
